@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .links {
        @apply p-1 text-GrayishViolet
    }

    .links:hover {
        @apply text-Cyan !important
    }

    .links-nav {
        @apply p-5 text-white
    }

    .links-nav:hover {
        @apply text-GrayishViolet
    }

    .links:hover {
        @apply text-GrayishViolet
    }

    .desktop-nav-links{
        @apply  p-2 text-lg text-GrayishViolet
    }

    .desktop-nav-links:hover{
        @apply  text-VeryDarkBlue
    }

    .stat {
        @apply relative p-8 bg-white my-16 rounded-lg lg:w-1/3 lg:text-left
    }

    .stat h4 {
        @apply text-xl font-bold text-VeryDarkViolet my-3
    }

    .stat img {
        @apply absolute bg-DarkViolet rounded-full p-3 -top-9 right-1/2 translate-x-1/2 lg:left-2
    }

    .stat p {
        @apply text-GrayishViolet font-semibold
    }

    .footer h4 {
        @apply text-xl text-white my-4
    }

    .footer div:not(.socials) {
        @apply flex flex-col
    }

    .footer h2 {
        @apply text-3xl font-bold text-white my-4 
    }

    .socials img {
        @apply w-4 block
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: max-content;
}

.hamburger div {
    width: 30px;
    background-color: hsl(255, 11%, 22%);
    height: 4px;
    margin-bottom: 3px;
    border-radius: 4px;
}

.mobile-nav,
.hamburger div {
    transition: all .5s ease-in-out;
}

.hamburger.active .hamburger-top {
    transform: rotateZ(45deg);
    transform-origin: 5px;
}

.hamburger.active .hamburger-middle {
    opacity: 0;
}

.hamburger.active .hamburger-bottom {
    transform: rotate(-45deg);
    transform-origin: 5px;
}

body,
html {
    overflow-x: hidden;
}


/* .desktop-nav {} */

.link--form{
    background-image: url('./images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.cta{
    background-image: url('./images/bg-boost-mobile.svg');
    background-repeat:no-repeat;
    background-position: top right;
}

@media (min-width: 768px) {
    .link--form{
        background-image: url('./images/bg-shorten-desktop.svg');
        background-repeat: no-repeat;
    }

    .cta{
        background-image: url('./images/bg-boost-desktop.svg');
        background-repeat:no-repeat;
        background-position: cover;
    }
}

